 .btn-primary {
        background-color: #4CAF50; /* Verde */
        border: none;
    }
.btn-primary:hover {
        background-color: #0b5ed7; /* azul más oscuro */
        border-color: #0a58ca;   /* borde más oscuro */
        transform: scale(1.2);  /* efecto zoom suave */
        transition: all 0.2s ease-in-out;
    }

    






    
    